<h1>Hello World</h1>
h1 {
  color:#ff0000;
  font-size:40px;
  font-family:serif;
  background-color:3ff372;
  height:80px;
  widht:200px;
  }
<p>Ayo belajar coding</p>
p {
 color:#0000ff;
 font-size:20px;
 font-family:"Lucida Grande";
 }
 img{
 hight:50px;
 widht:70px;
 }
